<h1 class='my-4'><%= t('.title') %></h1>
<% if @task.errors.any? %>
  <div class="alert alert-danger">
    <h2 class='alert-heading'>タスクの登録に失敗しました</h2>
    <hr>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form', {task: @task, action: 'create-task'} %>
<%= link_to t('common.back'), tasks_path, method: :get, id: "back", class: 'btn btn-secondary' %>