<h1 class='my-4'><%= t('.title') %></h1>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h2 class='alert-heading'>アカウントの更新に失敗しました</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form', {user: @user, action: 'update-user'} %>
<%= link_to t('common.back'), user_path(current_user.id), method: :get, id: 'back', class: 'btn btn-secondary' %>