<h1><%= t('.title') %></h1>
<% if @user.errors.any? %>
  <div class="error_explanation">
    <h2>Fail to create user</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render 'form', {user: @user, url: "/admin/users/#{@user.id}", action: 'update-user'} %>
<%= link_to t('common.back'), admin_users_path, method: :get, id: 'back' %>